include ../../../node_modules/bemto.pug/bemto
- set_bemto_settings({ modifier: '--' })
- const stamp = Math.round(new Date().getTime() / 1000)

include ../includes/data
include ../includes/require
include ../mixins/img
include ../mixins/icon

block variables

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title #{title}
    include ../includes/meta.pug
    link(href=`css/vendors.css?stamp=${stamp}` rel='stylesheet')
    link(href=`css/app-css.css?stamp=${stamp}` rel='stylesheet')
    // Уникальные стили только для этой страницы - начало
    block stylesPage
    // Уникальные стили только для этой страницы - конец
  body
    block header
      include ../../blocks/header/template
    block content
    block footer
      include ../../blocks/footer/template
    script(src=`js/vendors.js?stamp=${stamp}`)
    script(src=`js/app-js.js?stamp=${stamp}`)
    // Уникальные скрипты только для этой страницы - начало
    block scriptsPage
    // Уникальные скрипты только для этой страницы - конец

